@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,300;0,400;0,500;1,300;1,400&display=swap");

.c1 {
  width: 16%;
  margin: 25vh auto 0;
  border: 1px solid lightgray;
  padding: 15px 25px;
}

.c2 {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  margin-bottom: 10px;
  font-size: 18px;
  font-family: "Roboto", sans-serif;

.c4{
  font-weight:500;
}
.c5{
  font-size: xx-small;
}
}
.c6{
  display: flex;
  justify-content: flex-start;
  font-size: xx-small;
}
.c3 {
  margin-top: 30px;
  display: flex;
  justify-content: center;
  align-items: center;
  .c7{
    background-color: #A03037 !important;
  }

}

.um7{
  text-decoration:none;
}
.c10{
  border: 1px solid lightgray !important;
}

// @media only screen and (max-width: 600px) {
//   .c1 {
//     width: 50%;
//   }
// }

@media only screen and (max-width: 600px) {
  .c1 {
    width: 80%;
    border: none;
    margin-top: 15vh;
  }
}
