.edit-modal {
    border: none !important;
  }
  .edit-record-from {
      margin: 0 auto;
      width: 20rem;
  }
  
  .edit-record-input{
      padding: 5px 16px 15px;
    }
  
    .edit-record-title {
      font-size: 20;
    }
    
    .close-button {
      margin-right: auto !important;
      font-size: 1rem !important;
      text-transform: none !important;
    }
  
  .items{
    display:flex;
    justify-content: space-evenly;
  }
  .edit-record-title textarea {
    font-weight: bold;
    text-align: justify;
  }
  
  .edit-record-description textarea {
    text-align: justify;
  }